.banner {
  width: 100vw;
  height: 100vh;
  background-color: #00071c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h1 {
  font-size: 18px;
  margin-bottom: 2em;
  text-transform: uppercase;
  line-height: 1.5em;
  color: #71798F;
  font-weight: 400;
  letter-spacing: 0.07em;
  height: auto;
}

.banner h2 {
  color: #fff;
}

.banner .w3-display-bottommiddle span {
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.banner .w3-display-bottommiddle span svg {
  margin-right: 5px;
}

.banner .w3-display-bottommiddle span:hover {
  color: #565656;
}

.project-container {
  width: 100vw;
  height: 100vh;
}

.project-container .container {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .container .col-right p {
  font-size: 20px;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 0px 100px 0pxw;
}

.project-container .container .col-right a {
  width: 140px;
  height: 2em;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #71798F;
  color: #71798F;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.project-container .container .col-right a:hover {
  background-color: #565656;
  color: #fff;
}

.project-container .container .col-left img {
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work-container {
  width: 100vw;
  height: 100vh;
}

.work-container .container {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-container .container .work-title {
  font-size: 26px;
  line-height: 1.5em;
  font-weight: 700;
}

.work-container .container .col .description {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 10px;
}

.work-container .container .col p + p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 400;
  line-height: 1.5em;
  color: #71798F;
}

.work-container .container .left {
  background-color: #F8F8F8;
}

.work-container .container .right {
  background-color: #F3E7F3;
}

.work-container .container .image-container {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-container .container .image-container img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.about-container {
  width: 100vw;
  height: 100vh;
}

.about-container .container {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .container .col-left img {
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-container .container .col-right p {
  font-size: 20px;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 0px 100px 0pxw;
}

.about-container .container .col-right a {
  width: 140px;
  height: 2em;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #71798F;
  color: #71798F;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.about-container .container .col-right a:hover {
  background-color: #565656;
  color: #fff;
}
/*# sourceMappingURL=landing.css.map */