body{
    background-color: red !important;
}

.flex-box{
 
    a{
        text-decoration: none;
        color: #000;
        font-size: 13px;
    }

    .space-between{
        width: 2%;
    }

    .vertical-space{
        height: 20px;
    }

    display: flex;
    
    p{
        margin: 0;
        font-size: 13px;
    }

    .image-container{
        display: flex;
      
        
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            vertical-align: middle;
        }
    }

    .section-title{
        font-weight: bold;
        font-size: 18px;
    }
    

    .my-col-1{
       
        width: 35%;
        
        li{
            font-size: 13px;
        }
    }

    .spacing{
        width: 1%; ;
    }

    .my-col-2{
        width: 63%;
        
        

        p{
            span{
                font-weight: bold;
            }
        }
    }
}

