@mixin standard-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fullpage{
    width: 100vw;
    height: 100vh;
}

@mixin standard-img{
    
        width: 100% ;
        height: auto;
       
        top: 0;
        right: 0;
        box-sizing: border-box;
    
}

@mixin outlined-grey-button{
    width: 140px;
    height: 2em;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    background-color: white;
    border: 1px solid $light-grey;
    color: $light-grey;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

@mixin text-size{
    font-size: 20px;
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0px 0px 100px 0pxw ;
}

@mixin outlined-grey-hover{
    background-color: $dark-grey;
    color: $white;
  }

