@import './Theme/Mixin.scss'; 
@import './Theme/Variables.scss'; 

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*code {

}
*/

a{
  text-decoration: none;
  color: $black;
  font-weight: bold;
  opacity: 1;
}


.container-size{
  width: 100vw;
  height: 100vh;
}

.vertical-spacing{
  width: 30px;
}

